/* Los estilos de tu proyecto */

.background-brand {
  background-color: #f8c140;  
}

footer {
  background-color: #201f21;
}

body {
  color: #fff;
}



/* Mis clases */
.background-header {
  background-image: url(../assets/images/taxi.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 95vh;
}

.background-drive {
  background-image: url(../assets/images/conduce.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 480px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background-transparent {
  background-color:  rgba(0, 0, 0, 0.315);
  height: 480px;
}

.padding {
  padding: 20px;
}

.border-text {
  border: 1px solid #fff;
  padding: 8px;
  display: inline-block;
  border-radius: 5px;
}

.border-text p{ 
  margin: 0;
}

.location {
  margin: 20px 0;
}

.location img{
  margin-right: 20px;
}

.brand-border {
  border-bottom: 1px solid;
  margin-top: 15px;
}

.brand-border img {
  margin-bottom: 15px;
  margin-bottom: 15px;
}

.list li{
  margin: 15px 0;
}

.logo {
  margin: 25px 0;
}

.social-networks {
  margin: 20px 0;
}

.social-networks i {
  font-size: 20px;
}
 
.phone-img {
  margin: 2em 0;
}

.line {
  margin: 21px 0;
}

p.line::before {
  display: inline-block;
  height: 1px;
  margin-right: 25px;
  content: " ";
  background-color: white;
  width: 110px;
}

p.line::after {
  display: inline-block;
  height: 1px;
  margin-left: 25px;
  content: " ";
  background-color: white;
  width: 110px;
}

.border-xs-phone {
  border: 1px solid;
  margin: 2em 0;
  padding: 2em 0;
}

.border {
  border: 1px solid #fff;
}

.profile {
  border: 1px solid;
    display: inline-block;
    border-radius: 100%;
    margin: 1em 0 2em 0;
}

.profile img {
  border-radius: 100%
}

.content-modal {
  width: 35rem;
  margin: 1em auto;
  background-color: #f2f2f1;
  padding: 28px;
}

.sign-up {
  background-color: #acacac;
}

.login {
  background-color: #05a4b1;
}

/* Sobreescribiendo clases*/


.modal-header {
  border-bottom: none;
}


p {
  font-size: 16px;
}

.navbar-default {
  background-color: #fff;
  border-color: none;
}

h2 {
  margin-top: 0;
}

.btn-brand {
  color: #fff;
  background-color: #f8c140;
  border-color: none;
}

p a.btn {
  font-size: 18px;
  font-weight: 800;
}

.glyphicon {
  top: 0;
}

.modal-body {
  color: #000;
}

.social {
  float: right;
}



/* Responsive */
@media (min-width: 768px), (min-width: 992px) {
  
  .flex {
    display: flex;
  }

  .position-end {
    align-self: flex-end;
  }

  .item-center {
    align-self: center;
  }

  .border-phone {
    border: 1px solid #fff;
    margin: 3em 15em 3em -1.2em;
  }

  .border-xs-phone {
    border: none;
    margin: initial;
  }



  
}